
.center {
    text-align: center;
    padding-top: 50px;

}

.red {
    background: rgb(230,188,167);
    background: radial-gradient(circle, rgba(230,188,167,0.9951330874146533) 0%, rgba(208,122,122,1) 100%);
}

.top {
    width: 100vw;
    height: 100px;
    margin: 0;
    border-width: 3px;
    border-style: solid;
    border-color:rgb(57, 119, 233);
}

.blue {
    
    background: rgb(207,239,255);
    background: radial-gradient(circle, rgba(207,239,255,0.9951330874146533) 0%, rgba(95,173,223,0.9895308465182948) 100%);
}

.bottom {
    background: rgb(255,238,207);
    background: radial-gradient(circle, rgba(255,238,207,0.9951330874146533) 0%, rgba(223,157,95,0.9895308465182948) 100%);
    width: 100vw;
    height: 100px;
    border-width: 3px;
    border-style: solid;
    border-color:rgb(57, 119, 233);
    /*margin: 0*/
    
}


section {
    background: rgb(254,255,245);
    background: radial-gradient(circle, rgba(254,255,245,0.9951330874146533) 0%, rgba(249,255,142,1) 100%);
    /*box-sizing: border-box;*/
   /* background-position-y: 2000vw;*/
    /*box-sizing: content-box;*/
     width: 60vw;
    height: 250px;
    text-align: center;
    margin-top: -270px;
    border-width: 3px;
    border-style: solid;
    border-color:rgb(57, 119, 233);
    
}

#asi{
    background: rgb(248,248,248);
    background: radial-gradient(circle, rgba(248,248,248,0.9951330874146533) 0%, rgba(201,201,201,1) 100%);
   
    width: 40vw;
    height: 264px;
    font-size: xx-large;
    
    text-align: center;
    
   
    margin-left: 60vw;
    border-width: 3px;
    border-style: solid;
    border-color:rgb(57, 119, 233);
    
    }

    .heading{
        width: 57.7vw;
        height: 35px;
        padding-left: 3;
        margin-left: 1vw;
        margin-bottom: -1vw;
        border-width: 2px;
        border-style: solid;
        border-color:rgb(248, 8, 8);
        

       
    
    }

    .article {
        width: 0wv;
        height: 134px;
        background: rgb(255,245,255);
        background: radial-gradient(circle, rgba(255,245,255,0.9951330874146533) 0%, rgba(244,162,255,1) 100%);
        margin-left: 1vw;
        margin-right: 1vw;
        border-width: 2px;
        border-style: solid;
        border-color:rgb(216, 8, 243);
        
        



    }
        
    
