* {
    font-size: 13px;
    color: hsl(0, 0%, 100%);
    font-weight: 500,600;
}

.cont-attributes {
    width: 90%;
}

.avatar{
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
}

.b-radius {
    border-radius: 5px;
}

.p-relative {
    position: relative;
}

.p-absolute {
    position: absolute;
}

.bg-dark-blue {
    background-color: hsl(219, 29%, 14%);
}

.o-50{
    opacity: 50%;
}

.o-70 {
    opacity: 70%;
}