.box {
  display: flex;
  flex-direction: column;

  justify-content: flex-start;

  width: 1440px; /*cambiar a 100%*/

  margin-top: auto;

  background: whitesmoke;
  border: none;

}

.container-top {

  display: flex;

  justify-content: flex-start;
  
  width: 1240px; /* cambiar a 100%*/
  height: 50%;
  background:hsl(0, 0%, 98%);
  border: none;

  padding: 100px;
  
}

.container-bottom {
  display: flex;


  width: 1440px; /* cambiar a 100%*/
  height: 5%;
  background:hsl(0, 0%, 98%);
  border: none;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 70px;

  text-align: justify;

  width: 25%;
  height: 200px;

  background-color:  hsl(0, 0%, 98%);
  border: none;
}

/*.bttn {
  width: 16%;
  height: 16%;

  /*background: linear-gradient(135deg, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  background: 
  border:none;
  border-radius: 50%;

  display: inline-block;

}*/

.font-family {
  font-family: "Public Sans"; 

}

.bold-larger {
  /*font-weight: bold;
  font-weight: 700; duda aquí de cómo establecer el tamño*/
  font-size: x-large;
  font-weight: 400;

} 



.header {
  text-align: left;
  }