.container-main { /*Avance domingo*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  border: 1px solid gray;
  margin: 0;
  background: #eef0f1;
  border: none;
}

.container-main .text{
  display:block;
  color: red;
}

.container-main .container-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
  border: none; /*3px solid red;*/
  background-color: #eef0f1;
  margin-left: 0;
  padding-right: 2rem;
  
}

.container-left .Icons-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          align-items: center ;
  width: 30%;
  border: none;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-right:30%;
  padding-left: 6rem;
  
  background: #eef0f1;
}


.Icons-box a[href*="https://"] {
  display: inline-block;
  margin: 1rem;
  padding-top: 0.25rem;
  padding-left: 4rem;
  width: 2rem;
  height: 2rem;
 
  border: none;
  text-decoration: none;
  text-align: center;
}

a.btn#btn-h {
  background: url(/Images/Icon_Home.svg) no-repeat;
  }

a.btn#btn-RL {
  background:url(/Images/Icon_ReadingList.svg) no-repeat;
}

a.btn#btn-L {
  background:url(/Images/Icon_Lists.svg) no-repeat;
}

a.btn#btn-Pod {
  background: url(/Images/Icon_Podcasts.svg) no-repeat;
}

a.btn#btn-Vid {
  background: url(/Images/Icon_Videos.svg) no-repeat;
}

a.btn#btn-Tags {
  background: url(/Images/Icon_Tags.svg) no-repeat;
}

a.btn#btn-CoC {
  background: url(/Images/Icon_CodeOfConduct.svg) no-repeat;
}

a.btn#btn-FAQ {
  background: url(/Images/Icon_FAQ.svg) no-repeat;
}

a.btn#btn-DevS {
  background: url(/Images/Icon_DevShop.svg) no-repeat;
}

a.btn#btn-About {
  background: url(/Images/Icon_About.svg) no-repeat;
}

a.btn#btn-PP {
  background: url(/Images/Icon_PrivacyPolicy.svg) no-repeat;
}

a.btn#btn-Terms {
  background: url(/Images/Icon_TermsOfUse.svg) no-repeat;
}

a.btn#btn-Cnt {
  background: url(/Images/Icon_Comtact.svg) no-repeat;
}

.container-left  .bottom-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 80%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-around;
  padding-top: 2rem;
  padding-bottom: 2rem;
  padding-left: 4rem;
  border: none;
  background-color: #eef0f1;
}

.bottom-box a[href*="https://"] {
  display:inline-block;

  color: #eef0f1;

  width: 2rem;
  height: 2rem;;

  border:none;

 }

a.btn-social#Twitter {
  background: url(/Images/Icon_twitter.svg) no-repeat;
  
  
}

a.btn-social#Facebook {
  background: url(/Images/Icon_Facebook.svg) no-repeat;
  }

a.btn-social#Github {
  background: url(/Images/Icon_Cat.svg) no-repeat;
}

a.btn-social#Insta {
  background: url(/Images/Icon_Instagram.svg) no-repeat;
}


a.btn-social#Insta {
  background: url(/Images/Icon_Instagram.svg) no-repeat;
}

a.btn-social#Twitch {
  background: url(/Images/Icon_Twitch.svg) no-repeat;
}
/*Fin Primera parte: Left container, botones redes, botones*/


.container-center{
  width: 55%;
  display:flex;
  flex-direction: column;
  padding: 0;
  border:none; /*3px dotted rgb(217, 255, 0);*/
  background-color: #eef0f1;
}

.container-center .container-posts {
  width: 100%;
  height: 10%;
  display: flex;
  border: none; /*2px solid rgb(80, 1, 80);*/
  padding-top: 3rem;
  padding-bottom: 2rem;
  padding-right: 6rem;
  box-sizing: border-box;
  background-color: #eef0f1;
  
} 

.container-center .header-posts {
  width: 100%;
  height: 5%;
  display:flex;
  flex-direction: row;
  padding: 1rem 10rem 1rem 1rem;
  margin:0;
  justify-content: flex-end;
  align-items: center;
  border: none;
  box-sizing: border-box;
  background-color: #eef0f1;
}

.header-posts .text-post {
  
  float: left;
  margin: 0;
  padding-right: 10rem;
  color:#202428;
  font-size: x-large;
  border:none;
}

.container-center .container-posts * button{
  width: 4rem;
  height: 2rem;
  margin: 0rem;
  box-sizing: border-box;
  border: none;
  background-color:  #eef0f1;
  outline: none;
  cursor: pointer;
  border-radius: 10%;
}

.container-posts * button:hover{
  color: #3b49df;
  background-color: #dcdfef;
  border-bottom: 3px  solid #3b49df;
}

.container-posts * button:active{
  border-bottom:3px  solid #3b49df;
  transform: scale(1.2);
}



.top-post  {
  width: 100%;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none /*4px dotted rgb(10, 69, 117);*/

  padding: 0;
  flex-wrap: wrap;
  
  
  }

.top-post .youtua-pic {
  width: 100%;
  height: 70rem;
  background: url(/Images/Youtua.png) no-repeat;
  margin: 0 8rem 0 0 rem;
  display: block;
  
}

/*.top-post .top-post-bottom {
  width: 88%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background:  #ffffff;

  padding: 0 0.1rem 10rem 2rem;
  margin-top:0rem;
  display: inline-block;
  flex-wrap: wrap;
  
  }*/

/*.dropdown-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 4px dotted rgb(255, 6, 6);
  background: url(/Images/Youtua.png) no-repeat;
}*/
  
.container-right {
  width: 60%;
  display: flex;
  background:  #eef0f1;/* chartreuse;*/
  border:none /*5px dotted rgb(7, 250, 209);*/
  padding-right: 4rem;

  margin: 0 0 0 3rem;

}

.container-listings {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background:  #eef0f1;/*rgb(255, 251, 0);*/
  border:none ;/*4px dotted rgb(252, 10, 10);*/
}

.listing {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: #f9fafa;
  border: /*2px dotted black;*/;
  list-style-type: none;
  box-sizing: border-box;
  padding: 0rem 2rem 0rem 2rem;
  margin: 0;
}

ul.listing * {
  text-decoration: none;
  color: #797a7e;
}

ul.listing *:hover {
  text-decoration: none;
  color:  #3a44c4;
  background-color:#ffffff ;
}

ul > div {
  display: flex;

  justify-content: center;
  align-items: center;

  width: 118%;
  height: 6rem;
  padding: 0.5rem;
  margin:0;

  box-sizing: border-box;

  border-top: 1px solid  #797a7e;

  flex-wrap: wrap;
} /*Fin avance domingo*/

