
.cuadro1 {
    background: #62374E;
    width: 216px;
    height: 216spx;
    
    padding: 2em;
    

}

.cuadro2 {
    background: aqua;
    width: 210px;
    height: 210px;
    border: 4px solid green;
    
}

.cuadro3 {
    background: brown;
    width: 280px;
    height: 280px;
    margin-top: 1em;
    
}