
.b-main{
    border: 3px solid red;
    width: 490px;
    background-color: #eef0f1;
}

.header-Icons{
    margin-right:10px ;
    display: inline-block;
}

.header-Icon-reason{
  display: inline-block;
  margin-top: 25px;

}

.pad-web-left{
    padding-left: 210px;
}

.pad-web-left-social{
  padding-left: 230px;
}

.pad-web-left-reason{
  padding-left: 200px;
}

.pad-web-left-shop {
  padding-left: 170px;
}

.icons-list-web a[href*="https://"] {
    display: inline;
    margin: 2.5px;
    padding-top: 0.25rem;
    
    
    width: 2rem;
    height: 2rem;
   
    border: none;
    text-decoration: none;
    text-align: center;
  }

  a.btn#btn-h {
    background: url(/Images/Icon_Home.svg) no-repeat;
    
  }

  a.btn#btn-RL {
    background:url(/Images/Icon_ReadingList.svg) no-repeat;
  }
  
  a.btn#btn-L {
    background:url(/Images/Icon_Lists.svg) no-repeat;
  }
  
  a.btn#btn-Pod {
    background: url(/Images/Icon_Podcasts.svg) no-repeat;
  }
  
  a.btn#btn-Vid {
    background: url(/Images/Icon_Videos.svg) no-repeat;
  }
  
  a.btn#btn-Tags {
    background: url(/Images/Icon_Tags.svg) no-repeat;
  }
  
  a.btn#btn-CoC {
    background: url(/Images/Icon_CodeOfConduct.svg) no-repeat;
  }
  
  a.btn#btn-FAQ {
    background: url(/Images/Icon_FAQ.svg) no-repeat;
  }
  
  a.btn#btn-DevS {
    background: url(/Images/Icon_DevShop.svg) no-repeat;
  }

  a.btn#btn-Sponsors {
    background: url(/Images/Icon_Sponsors.svg) no-repeat;
  }
  
  a.btn#btn-About {
    background: url(/Images/Icon_About.svg) no-repeat;
  }
  
  a.btn#btn-PP {
    background: url(/Images/Icon_PrivacyPolicy.svg) no-repeat;
  }
  
  a.btn#btn-Terms {
    background: url(/Images/Icon_TermsOfUse.svg) no-repeat;
  }
  
  a.btn#btn-Cnt {
    background: url(/Images/Icon_Comtact.svg) no-repeat;
  }

  .social-box a[href*="https://"] {
    display:inline-block;
    width: 2rem;
    height: 2rem;;
    border:none;
  
   }
  
  a.btn-social#Twitter {
    background: url(/Images/Icon_twitter.svg) no-repeat;
    
    
  }
  
  a.btn-social#Facebook {
    background: url(/Images/Icon_Facebook.svg) no-repeat;
    }
  
  a.btn-social#Github {
    background: url(/Images/Icon_Cat.svg) no-repeat;
  }
  
  a.btn-social#Insta {
    background: url(/Images/Icon_Instagram.svg) no-repeat;
  }
  
  
  a.btn-social#Insta {
    background: url(/Images/Icon_Instagram.svg) no-repeat;
  }
  
  a.btn-social#Twitch {
    background: url(/Images/Icon_Twitch.svg) no-repeat;
  }

  a.btn-social#Reason {
    background: url(/Images/Icon_Reason.svg) no-repeat;
    margin-right: 10px;
    margin-left: 140px;
    margin-top: 25px;
  }

  .card-bg{
    background-color: #eef0f1;
    border:none;
  }

  .btn-shop {
    font-size: x-large;
    color:#3b49df;
    background-color: #eef0f1;
  }

  .card-txt-align {
    text-align: center;
  }

  .card-txt-align:hover {
    text-decoration: none;
    color: orangered;
  }
  
  /*Fin Primera parte: Left container, botones redes, botones*/
  